<div class="main-block">
        
        <!-- Page heading one starts -->
        
          <div class="page-heading-one">
            <h2>About Us</h2>
            <p class="bg-color">Something About Us</p>
          </div>
          
        <!-- Page heading one ends -->
      
        <div class="container">
          
          <div class="about-us-one">
          
            <div class="row">
              <div class="col-md-6">
                <!-- Logo section -->
                <div class="about-logo">
                  <!-- logo -->
                  <h2><a href="#"><i class="fa fa-laptop color"></i> Campus Bazaar</a> <small>Online Marketplace</small></h2>
                  <p>Campus Bazaar takes your university's Free and For Sale pages and makes them better.  Tired of scrolling through a feed looking for what you want?  College Bazaar makes it easy to search for items and sort based on category.</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="about-logo">
                  <h3>Something About <span class="color">Campus Bazaar</span></h3>
                  <p>Campus Bazaar is completely open source.  Make sure to check us out on GitHub and feel free to send a pull request!</p>
                </div>
              </div>
            </div>
            
            <hr>
            <br>
            
            
            <!-- Our Process starts -->
        
            <!-- Heading -->
            <div class="block-heading-six">
              <h4 class="bg-color">Our Process</h4>
            </div>
            <br>
            <div class="our-process">
              <div class="row">
                <div class="col-md-3 col-sm-6">
                  <!-- Our Process Item-->
                  <div class="our-process-item">
                    <!-- Icon -->
                    <a href="#" class="white bg-yellow"> <i class="fa fa-lightbulb-o"></i></a>
                    <!-- Arrow Image -->
                    <img src="assets/arrow.png" alt="" class="img-responsive hidden-sm hidden-xs">
                    <!-- Heading -->
                    <h4>Idea</h4>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="our-process-item">
                    <a href="#" class="white bg-lblue"> <i class="fa fa-desktop"></i></a>
                    <img src="assets/arrow.png" alt="" class="img-responsive hidden-sm hidden-xs">
                    <h4>Prototype</h4>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="our-process-item">
                    <a href="#" class="white bg-green"> <i class="fa fa-code"></i></a>
                    <img src="assets/arrow.png" alt="" class="img-responsive hidden-sm hidden-xs">
                    <h4>Coding</h4>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="our-process-item">
                    <a href="#" class="white bg-purple"> <i class="fa fa-check-square-o"></i>
                    </a>
                    <h4>Testing</h4>
                  </div>
                </div>
              </div>  
            </div>
            <!-- Our Process ends -->
            
            <hr>
            <br>
            <!-- Our Team starts -->
        
            <!-- Heading -->
            <div class="block-heading-six">
              <h4 class="bg-color">Our Team</h4>
            </div>
            <br>
            
            <!-- Our team starts -->
            
            <div class="team-six">
              <div class="row">
                <div class="col-md-3 col-sm-6">
                  <!-- Team Member -->
                  <div class="team-member">
                    <!-- Image -->
                    <img class="img-responsive" src="/assets/1.jpg" alt="">
                    <!-- Name -->
                    <h4>Sara Tibbetts</h4>
                    <span class="deg">Developer</span>
                    <!-- Team Links -->
                    <div class="team-links">
                      <a href="http://github.com/tibsar" target="_blank"><i class="fa fa-github-square"></i></a>
                      <a href="http://facebook.com/sara.m.tibbetts" target="_blank"><i class="fa fa-facebook-square"></i></a>
                      <a href="http://twitter.com/saratibbetts" target="_blank"><i class="fa fa-twitter-square"></i></a>
                      <a href="http://linkedin.com/in/saratibbetts" target="_blank"><i class="fa fa-linkedin-square"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <!-- Team Member -->
                  <div class="team-member">
                    <!-- Image -->
                    <img class="img-responsive" src="/assets/2.jpg" alt="">
                    <!-- Name -->
                    <h4>Jake Faris</h4>
                    <span class="deg">Developer</span>
                    <!-- Team Links -->
                    <div class="team-links">
                      <a href="http://github.com/farisj" target="_blank"><i class="fa fa-github-square"></i></a>
                      <a href="https://www.facebook.com/jake.faris" target="_blank"><i class="fa fa-facebook-square"></i></a>
                      <a href="http://twitter.com/jtfaris" target="_blank"><i class="fa fa-twitter-square"></i></a>
                      <a href="https://www.linkedin.com/in/jakefaris" target="_blank"><i class="fa fa-linkedin-square"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <!-- Team Member -->
                  <div class="team-member">
                    <!-- Image -->
                    <img class="img-responsive" src="/assets/3.jpg" alt="">
                    <!-- Name -->
                    <h4>MinLing Zhao</h4>
                    <span class="deg">Developer</span>
                    <!-- Team Links -->
                    <div class="team-links">
                      <a href="http://github.com/minling" target="_blank"><i class="fa fa-github-square"></i></a>
                      <a href="https://www.facebook.com/minling.zhao" target="_blank"><i class="fa fa-facebook-square"></i></a>
                      <a href="https://twitter.com/minlingzhao" target="_blank"><i class="fa fa-twitter-square"></i></a>
                      <a href="https://www.linkedin.com/in/minlingzhao" target="_blank"><i class="fa fa-linkedin-square"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <!-- Team Member -->
                  <div class="team-member">
                    <!-- Image -->
                    <img class="img-responsive" src="/assets/4.jpg" alt="">
                    <!-- Name -->
                    <h4>Vinny Alfieri</h4>
                    <span class="deg">Developer</span>
                    <!-- Team Links -->
                    <div class="team-links">
                      <a href="https://github.com/makafis/" target="_blank"><i class="fa fa-github-square"></i></a>
                      <a href="https://www.facebook.com/vinny.alfieri.3" target="_blank"><i class="fa fa-facebook-square"></i></a>
                      <a href="https://twitter.com/VinnyAlfieri" target="_blank"><i class="fa fa-twitter-square"></i></a>
                      <a href="https://www.linkedin.com/in/vincentalfieri" target="_blank"><i class="fa fa-linkedin-square"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <!-- Our team ends -->
            <hr>
            <div class="row">
              <div class="col-md-4">
                <!-- Heading and para -->
                <div class="block-heading-two">
                  <h3><span>Who We Are</span></h3>
                </div>
                <p>We are a team of four students in The Flatiron School's Web Development Immersive (Web 0615).  Before the program, we did not know each other and came from different backgrounds.  During the second sprint of Project Mode we worked together to create Campus Bazaar. We used technologies such as Ruby on Rails, Mailboxer, Javascript, Postgres and other technologies to create the application in use today!</p>
              </div>
              <div class="col-md-4">
                <div class="block-heading-two">
                  <h3><span>Main Technologies Used</span></h3>
                </div>    
                <!-- Accordion starts -->
                <div class="panel-group accordion-alt3" id="accordion-alt3">
                 <!-- Panel. Use "panel-XXX" class for different colors. Replace "XXX" with color. -->
                  <div class="panel"> 
                  <!-- Panel heading -->
                   <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseOne-alt3">
                      <i class="fa fa-angle-right"></i> Ruby on Rails
                      </a>
                    </h4>
                   </div>
                   <div id="collapseOne-alt3" class="panel-collapse collapse">
                    <!-- Panel body -->
                    <div class="panel-body">
                      Ruby on Rails was used as the backend for this application. Multiple models and controllers were needed to accomplish all the tasks needed to make Campus Bazaar what it is today.
                    </div>
                   </div>
                  </div>
                  <div class="panel">
                   <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseTwo-alt3">
                      <i class="fa fa-angle-right"></i> Postgres
                      </a>
                    </h4>
                   </div>
                   <div id="collapseTwo-alt3" class="panel-collapse collapse">
                    <div class="panel-body">
                      Postgres was used as database for the application.  The application required many different tables and had many relations
                    </div>
                   </div>
                  </div>
                  <div class="panel">
                   <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseThree-alt3">
                      <i class="fa fa-angle-right"></i> Heroku
                      </a>
                    </h4>
                   </div>
                   <div id="collapseThree-alt3" class="panel-collapse collapse">
                    <div class="panel-body">
                      Heroku was used to host the application.  This presented many challenges as many features that worked in development needed to be tweaked to work in deployment.
                    </div>
                   </div>
                  </div>
                  <div class="panel">
                   <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseFour-alt3">
                      <i class="fa fa-angle-right"></i> HTML and CSS
                      </a>
                    </h4>
                   </div>
                   <div id="collapseFour-alt3" class="panel-collapse collapse">
                    <div class="panel-body">
                      HTML and CSS were used for the front-end of the application. CSS as well as SASS were used for styling. The Bootstrap theme "Brave" was used. 
                    </div>
                   </div>
                  </div>
                </div>
                <!-- Accordion ends -->
                
              </div>
              
              <div class="col-md-4">
                <div class="block-heading-two">
                  <h3><span>Our Expertise</span></h3>
                </div>                
                <h6>Web Development</h6>
                <div class="progress pb-sm">
                  <!-- White color (progress-bar-white) -->
                  <div class="progress-bar progress-bar-red" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                   <span class="sr-only">40% Complete (success)</span>
                  </div>
                </div>
                <h6>Ruby</h6>
                <div class="progress pb-sm">
                  <div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                   <span class="sr-only">40% Complete (success)</span>
                  </div>
                </div>
                <h6>Rails</h6>
                <div class="progress pb-sm">
                  <div class="progress-bar progress-bar-lblue" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                   <span class="sr-only">40% Complete (success)</span>
                  </div>
                </div>
                <h6>JavaScript</h6>
                <div class="progress pb-sm">
                  <div class="progress-bar progress-bar-yellow" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                   <span class="sr-only">40% Complete (success)</span>
                  </div>
                </div>
              </div>
              
            </div>
            
            
                        
          </div>
                  
        </div>
      </div>