
    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Welcome to The Campus Bazaar</h1>
                        <h2><%= link_to("Log in", login_path) %></h2>
                        <!-- <hr class="intro-divider"> -->
                        <ul class="list-inline intro-social-buttons">
<!--                             <li>
                                <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                            </li> -->
                        <li>
                            <a href="/signup" class="btn btn-default btn-lg"><i class="fa fa-heart fa-fw"></i> <span class="network-name">Sign Up</span></a>
                        </li>
                        <li>
                            <a href="/login" class="btn btn-default btn-lg"><i class="fa fa-user fa-fw"></i> <span class="network-name">Log In</span></a>
                        </li>
                          
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

  <a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Easily Sell Your Items on Campus<br></h2>
                    <p class="lead">Sell your textbooks, couch, clothes, etc., on CampusBazaar! Connect with other students on your campus and seamlessly make a transaction.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="http://editorial.designtaxi.com/news-instantlife130614/1.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Easy Payment options</h2>
                    <p class="lead">Pay with Venmo or Cash! Choose your option when selling or buying. Get your money in a matter of seconds. No need to wait to get paid.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="http://www.sellcell.com/blog/wp-content/uploads/2014/08/piggy-bank-saving-money-pension-jpg_085753.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Get Started Now!</h2>
                    <p class="lead">Simply Sign up to get started. You will be able to instantly join your community and start selling right away. Not selling? Sign up to check out what students on your campus has to offer!</p>
                </div>
                  <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="/signup" class="btn btn-default btn-lg"><i class="fa fa-heart fa-fw"></i> <span class="network-name">Sign Up</span></a>
                        </li>
                        <li>
                            <a href="/login" class="btn btn-default btn-lg"><i class="fa fa-user fa-fw"></i> <span class="network-name">Log In</span></a>
                        </li>
                        <li>
                            <a href="https://github.com/makafis/thecampusbazaar" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>

                        <li>
                            <a href="/about" class="btn btn-default btn-lg"><i class="fa fa-star fa-fw"></i> <span class="network-name">About Us</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
