<div class="main-block">
  <div class="container">
<div class="ui-5">
  <!-- Profile window -->
  <div class="ui-window">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <!-- Contact Heading -->
        <h3><i class="fa fa-user lblue"></i>&nbsp; All Contacts</h3>
        

        <!-- Profile user chat contacts -->
        <div class="chat-contact">
          <% current_user.conversations.each do |conversation| %>
          <% if current_user.id == conversation.user1.id%>
            <% other_user = conversation.user2 %>
          <% else %>
            <% other_user = conversation.user1%>
          <% end %>
          <!-- Chat contact member -->
          <div class="chat-member" id="<%= conversation.id%>">
            <!-- Member Image -->
            <div class="img-container">
              <!-- <a href="<%#= conversation_messages_path(conversation.id) %>"></a>--><%= image_tag other_user.avatar.url(:thumb) %> 
            </div>
            <!-- Name -->
            <h4><!-- <a href="<%#= conversation_messages_path(conversation.id) %>"></a>--><%= other_user.name %></h4>
            <!-- Paragraph -->
            <p><!-- <a href="<%#= conversation_messages_path(conversation.id) %>"></a>--><%= conversation.item.name%></p>
            <div class="clearfix"></div>
          </div>
    
          <% end %>

        </div>
      </div>
      <div class="col-md-8 col-sm-8">
        <h3><i class="fa fa-comments-o lblue"></i>&nbsp; Live Chat</h3>
        <!-- Profile chat content -->
        <!-- WHERE PARTIAL STARTS -->
        <div class="chat-partial">
        <!-- this is partial -->

        <!-- this is partial -->
        </div>
        <!-- this is where the partial ends -->
      </div>
    </div>
  </div>
</div>


<!-- Javascript files -->
<!-- jQuery -->
<script src="js/jquery.js"></script>
<!-- Bootstrap JS -->
<script src="js/bootstrap.min.js"></script>
<!-- jQuery nice scroll (For smooth scrolling and scrollbar) -->
<script src="js/jquery.nicescroll.min.js"></script>
<!-- Respond JS for IE8 -->
<script src="js/respond.min.js"></script>
<!-- HTML5 Support for IE -->
<script src="js/html5shiv.js"></script>
<script>
  /* Scroll bar JS */

  $(".chat-contact").niceScroll({
    cursorcolor:"#999",
    cursoropacitymin:0,
    cursoropacitymax:0.3,
    cursorwidth:5,
    cursorborder:"0px",
    cursorborderradius:"0px",
    cursorminheight:50,
    zindex:1,
    mousescrollstep:20
  });

  $(".chat-content").niceScroll({
    cursorcolor:"#999",
    cursoropacitymin:0,
    cursoropacitymax:0.3,
    cursorwidth:5,
    cursorborder:"0px",
    cursorborderradius:"0px",
    cursorminheight:50,
    zindex:1,
    mousescrollstep:20
  });

</script>
  </div>
</div>
