  <div class="well">
    <div class="title">
      <%= render partial: 'conversations/conversations_header' %>
    <h3> Inbox </h3>
      <% if @conversations == nil || @conversations.empty? %>
      <i>Your Inbox folder is currently empty</i>
      <% else %>
        <%= render partial: 'conversations/messages_index' %>
      <% end %>
    </span>
  </div>
</div>
