<div class="main-block">
  <div class="container">
<div class="ui-5">
  <!-- Profile window -->
  <div class="ui-window">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <!-- Contact Heading -->
        <h3><i class="fa fa-user lblue"></i>&nbsp; All Contacts</h3>
        <!-- Profile user chat contacts -->
        <div class="chat-contact">
          <!-- Chat contact member -->
          <div class="chat-member">
            <!-- Member Image -->
            <div class="img-container">
              <a href="#"><img class="mg-responsive" src="img/user/2.jpg" alt="" /></a>
              <span class="st-live status"></span>
            </div>
            <!-- Name -->
            <h4><a href="#">Barbara Warts</a></h4>
            <!-- Paragraph -->
            <p>I am online now.</p>
            <div class="clearfix"></div>
          </div>
          <!-- Chat contact member -->
          <div class="chat-member">
            <!-- Member Image -->
            <div class="img-container">
              <a href="#"><img class="mg-responsive" src="img/user/3.jpg" alt="" /></a>
              <span class="st-hide status"></span>
            </div>
            <!-- Name -->
            <h4><a href="#">Medona Doe</a></h4>
            <!-- Paragraph -->
            <p>3 hours ago.</p>
            <div class="clearfix"></div>
          </div>
          <!-- Chat contact member -->
          <div class="chat-member">
            <!-- Member Image -->
            <div class="img-container">
              <a href="#"><img class="mg-responsive" src="img/user/4.jpg" alt="" /></a>
              <span class="st-off status"></span>
            </div>
            <!-- Name -->
            <h4><a href="#">July Doe</a></h4>
            <!-- Paragraph -->
            <p>8 hours ago.</p>
            <div class="clearfix"></div>
          </div>
          <!-- Chat contact member -->
          <div class="chat-member">
            <!-- Member Image -->
            <div class="img-container">
              <a href="#"><img class="mg-responsive" src="img/user/5.jpg" alt="" /></a>
              <span class="st-live status"></span>
            </div>
            <!-- Name -->
            <h4><a href="#">Henry Gates</a></h4>
            <!-- Paragraph -->
            <p>I am online now.</p>
            <div class="clearfix"></div>
          </div>
          <!-- Chat contact member -->
          <div class="chat-member">
            <!-- Member Image -->
            <div class="img-container">
              <a href="#"><img class="img-responsive" src="img/user/6.jpg" alt="" /></a>
              <span class="st-busy status"></span>
            </div>
            <!-- Name -->
            <h4><a href="#">Jennifer Loren</a></h4>
            <!-- Paragraph -->
            <p>I am busy now. </p>
            <div class="clearfix"></div>
          </div>
          <!-- Chat contact member -->
          <div class="chat-member">
            <!-- Member Image -->
            <div class="img-container">
              <a href="#"><img class="mg-responsive" src="img/user/7.jpg" alt="" /></a>
              <span class="st-live status"></span>
            </div>
            <!-- Name -->
            <h4><a href="#">James Louis</a></h4>
            <!-- Paragraph -->
            <p>I am online now.</p>
            <div class="clearfix"></div>
          </div>
          <!-- Chat contact member -->
          <div class="chat-member">
            <!-- Member Image -->
            <div class="img-container">
              <a href="#"><img class="mg-responsive" src="img/user/3.jpg" alt="" /></a>
              <span class="st-hide status"></span>
            </div>
            <!-- Name -->
            <h4><a href="#">Medona Doe</a></h4>
            <!-- Paragraph -->
            <p>3 hours ago.</p>
            <div class="clearfix"></div>
          </div>
          <!-- Chat contact member -->
          <div class="chat-member">
            <!-- Member Image -->
            <div class="img-container">
              <a href="#"><img class="mg-responsive" src="img/user/4.jpg" alt="" /></a>
              <span class="st-off status"></span>
            </div>
            <!-- Name -->
            <h4><a href="#">July Doe</a></h4>
            <!-- Paragraph -->
            <p>8 hours ago.</p>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-sm-8">
        <h3><i class="fa fa-comments-o lblue"></i>&nbsp; Live Chat</h3>
        <!-- Profile chat content -->
        <div class="chat-content">
          <!-- Chat box -->
          <div class="chat-box chat-in">
            <!-- image -->
            <div class="img-container">
              <img class="img-responsive" src="img/user/4.jpg" alt="" />
            </div>
            <div class="message">
              <!-- Name -->
              <h5><i class="fa fa-clock-o"></i>&nbsp; 4:30 AM, May 25</h5>
              <p>Consider donating a small sum to help pay for keep the site on the for Internet, please the hosting and bandwidth bill.</p>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="chat-box chat-out">
            <!-- image -->
            <div class="img-container">
              <img class="img-responsive" src="img/user/2.jpg" alt="" />
            </div>
            <div class="message">
              <!-- Name -->
              <h5><i class="fa fa-clock-o"></i>&nbsp; 4:32 AM, May 25</h5>
              <p>Consider donating a small sum to help pay for keep the site on the for Internet, please the hosting and bandwidth bill.</p>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="chat-box chat-in">
            <!-- image -->
            <div class="img-container">
              <img class="img-responsive" src="img/user/4.jpg" alt="" />
            </div>
            <div class="message">
              <!-- Name -->
              <h5><i class="fa fa-clock-o"></i>&nbsp; 4:40 AM, May 25</h5>
              <p>Consider donating a small sum to help pay for keep the site on the for Internet, please the hosting and bandwidth bill.</p>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="chat-box chat-out">
            <!-- image -->
            <div class="img-container">
              <img class="img-responsive" src="img/user/2.jpg" alt="" />
            </div>
            <div class="message">
              <!-- Name -->
              <h5><i class="fa fa-clock-o"></i>&nbsp; 4:50 AM, today</h5>
              <p>Consider donating a small sum to help pay for keep the site on the for Internet, please the hosting and bandwidth bill.</p>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="chat-box chat-in">
            <!-- image -->
            <div class="img-container">
              <img class="img-responsive" src="img/user/4.jpg" alt="" />
            </div>
            <div class="message">
              <!-- Name -->
              <h5><i class="fa fa-clock-o"></i>&nbsp; 5 min ago</h5>
              <p>Consider donating a small sum to help pay for keep the site on the for Internet, please the hosting and bandwidth bill.</p>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="chat-box chat-out">
            <!-- image -->
            <div class="img-container">
              <img class="img-responsive" src="img/user/2.jpg" alt="" />
            </div>
            <div class="message">
              <!-- Name -->
              <h5><i class="fa fa-clock-o"></i>&nbsp; 10 second ago</h5>
              <p>Consider donating a small sum to help pay for keep the site on the for Internet, please the hosting and bandwidth bill.</p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <!-- Chatting message input box -->
        <div class="chat-input-box">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Type your message">
            <span class="input-group-btn">
              <button class="btn btn-lblue" type="button">Send</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Javascript files -->
<!-- jQuery -->
<script src="js/jquery.js"></script>
<!-- Bootstrap JS -->
<script src="js/bootstrap.min.js"></script>
<!-- jQuery nice scroll (For smooth scrolling and scrollbar) -->
<script src="js/jquery.nicescroll.min.js"></script>
<!-- Respond JS for IE8 -->
<script src="js/respond.min.js"></script>
<!-- HTML5 Support for IE -->
<script src="js/html5shiv.js"></script>
<script>
  /* Scroll bar JS */

  $(".chat-contact").niceScroll({
    cursorcolor:"#999",
    cursoropacitymin:0,
    cursoropacitymax:0.3,
    cursorwidth:5,
    cursorborder:"0px",
    cursorborderradius:"0px",
    cursorminheight:50,
    zindex:1,
    mousescrollstep:20
  });

  $(".chat-content").niceScroll({
    cursorcolor:"#999",
    cursoropacitymin:0,
    cursoropacitymax:0.3,
    cursorwidth:5,
    cursorborder:"0px",
    cursorborderradius:"0px",
    cursorminheight:50,
    zindex:1,
    mousescrollstep:20
  });

</script>
  </div>
</div>