  <div class="well">
    <div class="title">
            <%= render partial: 'conversations/conversations_header' %>
      <h3>Trash</h3> &nbsp; &nbsp;<% if @trash_count > 0 %><%= button_to 'Empty Trash', 'empty_trash', :confirm => 'Empty trash?', :class => 'btn btn-primary btn-danger' %><%end%>
      <br \>
      <% if @trash_count == 0 %>
      <i>Your Trash folder is currently empty</i>
      <% else %>
        <%= render partial: 'conversations/messages_index' %>
      <%end%>
    </span>
  </div>
</div>
