<li class="col-sm-4">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3>
      <%= image_tag user.avatar.url(:medium), :class => "img-responsive center-block"%>
      </h3>
    </div>
    <div class="panel-body">
      <div class="row" style="font-size:23px"> <%= link_to(user.name, user_path(current_user, :id => user.id)) %></div>
      <div style="font-size:15px">
        <div class="row">Items Selling: <%= user.items.count %></div>
      </div>
    </div>
  </div>
</li>

