
<h2>Hi, <%= @user.name %></h2>
<%= image_tag @user.avatar.url(:medium) %><br><br>
<%= button_to 'Edit Profile', edit_user_path(@user), class: 'btn btn-primary', method: 'get' %><br>
<%= button_to 'My Items', user_items_path(@user), class: 'btn btn-primary', method: 'get' %>

