
<h2><%= @user.name %></h2>
<%= image_tag @user.avatar.url(:medium) %><br><br>
<% if (current_user.id == @user.id)%>
<%= button_to 'Edit Profile', edit_user_path(@user), class: 'btn btn-primary', method: 'get' %><br>
<%end%>
<%#= button_to 'My Items', user_items_path(@user), class: 'btn btn-primary', method: 'get' %>

<%#binding.pry%>
<% if @user.items %>
<h2> Items for sale </h2>
<%end%>
<ul style="list-style-type: none">
<% @user.items.each do |item|%>
<%= render partial: 'items/user_item', locals: {item: item} %>
<%end%>
</ul>
