
<h2>Hi, <%= @user.name %></h2>
<%= image_tag @user.avatar.url(:medium) %><br>
<%= button_to 'Edit Profile', edit_user_path(@user), class: 'btn btn-primary', method: 'get' %>

<!-- <li><%#= Item.find_by(seller_id: current_user.id) %></li> -->
