<div class="container">

  <p>Are you sure you want to sell <%= @offer.item.name %>  to <%= @buyer.name %>? </p>

  <% @offer.payment_options.each do |p_o| %>
    <p><%= link_to "Pay with #{p_o.name.capitalize}", offer_accepted_path(@offer, payment_method: p_o.name) , class: 'btn btn-success' %></p>
  <% end %>

  <%= link_to 'Go back', offer_path(@offer), class: 'btn btn-danger' %>

</div>