<div class="tables_of_items">
  
  <% if @count > 0 %>
  <h1>Open Items:</h1>
    <div class="all_offered_item_tables">
    <% @available_items.each do |item| %>
      <% if item.offers.count > 0 %>
    <h2><%= link_to item.name, user_item_path(item.community, item)%> </h2>
       <%= render :partial => "table_of_received", locals: {item: item}%>
     <% end %>
    <% end %>
    </div>

  <h1>Sold Items:</h1>
    <div class="all_sold_item_tables">
    <% @sold_items.each do |item| %>
       <%= render :partial => "table_of_received", locals: {item: item}%>
    <% end %>
    </div>
    <% else %>
      You do not currently have any offers on your items.
    <% end %> 
</div>
