<li class="col-sm-4">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3>
      <%= link_to(item.name, user_item_path(current_user, :id => item.id)) %>
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">Condition: <%= item.condition %></div>
      <div class="row">Price: $<%= item.price %></div>
      <div class="row">Offered by: <%= item.seller.name %></div>
    </div>
  </div>
</li>