<% if @user.items.first == nil %>
<h2> You don't have any items. Go list an item <%= link_to 'here', new_community_item_path(@user.community)%>!</h2>
<% else %>
<ul style="list-style-type: none">
<% @items.each do |item| %>
  <%= render partial: 'items/user_item', locals: {item: item} %>
<% end %>
</ul>
<%end%>