<div class="page-heading-two">
  <div class="container">
    <h2>Welcome, <%= current_user.name %> </h2>
    <div class="clearfix"></div>
  </div>
</div>
<div class="container">
  <div class="ecommerce">
    <div class="col-md-11 col-sm-11 col-md-push-1 col-sm-push-1">
      <div class="shopping-content">
        <hr>
        <div class="row">
          <% @items.each do |item| %>
            <%= render partial: 'items/user_item', locals: {item: item} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

