<div class="container">
  <div class="row">
    <h1 class="col-md-6 col-md-offset-4">Welcome, <%= current_user.name %>.</h1>
  </div>
  <div class="text-right"><%= link_to("Sell a new item", new_user_item_path(current_user)) %> </div> 

  <div class="row col-md-4 col-md-offset-4 text-center">Here's what people are selling at <%= @community.name %>.</div> 
</div>


<ul style="list-style-type: none">
<% @items.each do |item| %>
  <%= render partial: 'items/community_item', locals: {item: item} %>
<% end %>
</ul>
