<!-- 
<div class="footer">
  <div class="footer-text">Made with <i class="fa fa-heart"></i> by <a href="https://www.github.com/minling" target="blank">Minling Zhao</a>, <a href="https://github.com/tibsar" target="blank">Sara Tibbetts</a>, <a href="https://github.com/farisj" target="blank">Jake Faris</a>, &amp; <a href="https://github.com/makafis" target="blank">Vinny Alfieri</a> at <span id = "slash">//</span> <a href="https://www.flatironschool.com" target="blank" style = "text-decoration: none;">Flatiron School</a>.</div>
</div> -->


<!-- <div class="footer"> -->
  <div class="footer-text">Made with <i class="fa fa-heart"></i> at <span id = "slash">//</span> <a href="https://www.flatironschool.com" target="blank" style = "text-decoration: none;">Flatiron School</a>. | <i class="fa fa-hand-peace-o"> </i><%= link_to(" About this Project", about_path) %> </div>
<!-- </div> -->