<div class="container">
  <!-- Footer Content -->
    <!-- Paragraph -->
    <p class="pull-left">Copyright © 2015 - <a href="#">CampusBazaar</a></p>
    <ul class="list-inline pull-right">
      <!-- List -->
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to("About this Project", about_path) %></li>
    </ul>
    <center>
      <div class="footer-text">Made with <i class="fa fa-heart"></i> at <span id = "slash">//</span> <a href="http://www.flatironschool.com" target="blank" style = "text-decoration: none;">Flatiron School.</a>
      </div>
    <center>
    <!-- Clearfix -->
    <div class="clearfix"></div>
</div>