<div class="navbar navbar-default navbar-fixed-bottom">
  

  <div class="container text-center">
    <div class="col-md-3 col-md-offset-3">
      Made with Love @ Flatiron School
    </div>

    <div class="col-md-3">
      <%= link_to("About this Project", about_path) %>
    </div>
  </div>


</div>