<%= render partial: 'layouts/header'%>
<%= render partial: 'layouts/navbar'%>
<% if notice %>
  <div class="alert alert-success"><%= notice %></div>
  <% end %>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>